<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shelfie</title>
    <style>
        .book {
            padding: 20px;
            margin: 10px;
            background-color: #eee;
        }
    </style>
</head>
<body>
    <h1>Shelfie</h1>
    <hr>
    <div class="title">
    <form method="post">
        <p>
            <b><label for="title">What book would you like to add?</label></b>
        </p>
        <p>
            <input type="text" name="title"
                placeholder="Book title">
        </p>

        <p>
            <b><label for="status">Status</label></b>
        </p>
        <p>
            <input id="status-0" name="status" required type="radio" value="want-to-read">
            <label for="status-0">Want to read</label>
        </p>
        <p>
            <input id="status-1" name="status" required type="radio" value="reading">
            <label for="status-1">Reading</label>
        </p>
        <p>
            <input id="status-2" name="status" required type="radio" value="finished">
            <label for="status-1">Finished</label>
        </p>
        <button type="submit">Submit</button>
    </form>
    <hr>
    {% for book in books %}
        <div class="book">
            <p>{{ book['title'] }} <i>({{ book['status']}})</i></p>
            <form method="POST" action="{{ url_for('delete', id=book['_id']) }}" >
                <input type="submit" value="Delete book"
                       onclick="return confirm('Are you sure you want to delete this entry?')">
            </form>
        </div>
    {% endfor %}
    </div>
</body>
</html>